.paymentContainer {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 3rem auto;
  max-width: 400px;
  min-height: 350px;
}

.paymnentHeading {
  border-bottom: 2px black solid;
  padding-top: 1rem;
}

.payment__input
{
  margin: 2rem 0;
}

.paymentInput {
  width: 10rem;
  font-size: 1rem;
  margin: 0.5rem;
}

.input__field {
  border: 1px darkgray solid;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.75rem 0;
}

.payment__icons
{
  margin: 0 5px;
}

.paymentFormBtn {
  border: none;
  background-color:var(--toggle-color-primary);
  color: white;
  font: 300 0.9vmax;
  width: 80%;
  padding: 0.6vmax;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
  border-radius: 8px;
}

.paymentFormBtn:hover {
  background-color: rgb(94, 209, 203);
}

@media screen and (max-width: 600px) {
  .paymentFormBtn {
  width: 40%;
}
}