.profile__btn
{
    background: var(--background, var(--eerie-black));
  color: var(--color, var(--white));
  font-weight: var(--rishi_font_weight-600);
  height: var(--height, 50px);
  padding-inline: 40px;
  border: 1px solid var(--border-color, var(--eerie-black));
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile__btn:hover
{
    background-color: white;
    color: black;
}

.profile__heading
{
  text-align: center;
  margin-top: 1rem;
}

.profile__subheading
{
  text-align: center;
}

.profile__box
{
  margin: 1.5rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.user__image_section
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: .5rem;
}

.button__section
{
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.profile__btn
{
  margin: 0 1rem;
}

.span__box
{
  display: inline;
  font-weight: 600;
}

.user__text__section
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.user__name
{
  margin-top: 1rem;
}